# .NET build output
**/bin/
**/obj/

# Visual Studio files
**/.vs/
**/*.user
**/*.suo
**/*.sln.docstates

# Resharper files
**/_ReSharper*/
**/*.ReSharper*

# Rider files
**/.idea/

# NuGet packages
**/*.nuget.props
**/*.nuget.targets
